# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/

# IDE
.idea/
.vscode/*.code-workspace

# Native build outputs
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/

# Misc
.DS_Store
*.log
